version: '3'

services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ct1178
      MYSQL_DATABASE: testdb
      MYSQL_USER: test
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - prof_second_network
  backend:
    container_name: backend_prof
    build:
      context:
        ./prof_second
    volumes:
      - ./prof_second:/app
    ports:
      - "8002:8000"
    environment:
      - DB_HOST=mariadb
    networks:
      - prof_second_network
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

  nginx:
    image: nginx:latest
    container_name: nginx_prof
    ports:
      - "82:80"
    volumes:
      - ./prof_second/nginx.conf:/etc/nginx/nginx.conf
    networks:
      - prof_second_network
    depends_on:
      - mariadb
      - backend
volumes:
  mariadb_data:

networks:
  prof_second_network:
